@tailwind base;
@tailwind components;
@tailwind utilities;

.loop-item svg {
  font-size: 18px;
}

.loop {
  position: relative;
}

.loop:before {
  content: "";
  left: -15px;
  transform: translateX(-50%);
  position: absolute;
  width: 1px;
  background-color: #bdb3b3;
  height: 65%;
}

.loop-item {
  position: relative;
}

.loop-item:before {
  content: "";
  left: -15px;
  top: 14px;
  position: absolute;
  width: 9px;
  background-color: #bdb3b3;
  height: 1px;
}
